$header_height: 55px;
$header_bg: #fff;
$aside_width: 240px;
$aside_bg: #2e386b;
$logo_bg: #eaaf21;
$header_menu_height: 53px;
$menu_height: 52px;
$submenu_height: 48px;
$item_active_bg: #3f85b6;
$menu_item_bg: #192d4e;
$menu_item_hover: #255182;
